Exercicio 1/CRUD API - Produtos (Google Sheets).json
{
  "name": "CRUD API - Produtos (Google Sheets)",
  "nodes": [
    {
      "parameters": {
        "path": "products",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "e651401c-44b3-48ad-9f6a-a563bcd3ca01",
      "name": "GET /products (Read All)",
      "webhookId": "b5b3ca2a-c94d-4697-81e3-378afbc7c8c8"
    },
    {
      "parameters": {
        "path": "products",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        208
      ],
      "id": "f393122e-badb-46f2-b82d-1e3a27db3bce",
      "name": "POST /products (Create)",
      "webhookId": "b96e8d4b-09a9-4825-8f5b-79f52c3a0607"
    },
    {
      "parameters": {
        "path": "products/{{$json.query.id}}",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        400
      ],
      "id": "fab21697-e16d-40ba-909e-7a521c0f08cd",
      "name": "PUT /products/{id} (Update)",
      "webhookId": "d0cc22d2-f68e-400c-bebe-d7814c857ae5"
    },
    {
      "parameters": {
        "path": "products/{{$json.query.id}}",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        608
      ],
      "id": "4d4454a5-8eef-4f7e-97d0-3858ae7d2e01",
      "name": "DELETE /products/{id} (Delete)",
      "webhookId": "1a1d50d2-af46-4642-a35b-2b97e5b0d421"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1l8eeaZV1ijBqjSCv_k2ZTQRDkFBBJG1AnTY6LMS0l_c",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1721701451,
          "mode": "list",
          "cachedResultName": "produtos_exemplo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l8eeaZV1ijBqjSCv_k2ZTQRDkFBBJG1AnTY6LMS0l_c/edit#gid=1721701451"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        256,
        0
      ],
      "id": "4cbabefa-ea8c-413a-984c-1f96846f5430",
      "name": "Google Sheets (Read All)",
      "credentials": {
        "googleApi": {
          "id": "DkVwcgIDcM5y6GuW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1l8eeaZV1ijBqjSCv_k2ZTQRDkFBBJG1AnTY6LMS0l_c",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1721701451,
          "mode": "list",
          "cachedResultName": "produtos_exemplo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l8eeaZV1ijBqjSCv_k2ZTQRDkFBBJG1AnTY6LMS0l_c/edit#gid=1721701451"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "9",
            "nome": "produtoteste",
            "custo": "20",
            "categoria": "mouses"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "custo",
              "displayName": "custo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "categoria",
              "displayName": "categoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        256,
        208
      ],
      "id": "5c6ca3c1-1ff1-4b23-851c-5d93ef33eda5",
      "name": "Google Sheets (Create)",
      "credentials": {
        "googleApi": {
          "id": "DkVwcgIDcM5y6GuW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1l8eeaZV1ijBqjSCv_k2ZTQRDkFBBJG1AnTY6LMS0l_c",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1721701451,
          "mode": "list",
          "cachedResultName": "produtos_exemplo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l8eeaZV1ijBqjSCv_k2ZTQRDkFBBJG1AnTY6LMS0l_c/edit#gid=1721701451"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "9",
            "nome": "produtoteste1",
            "custo": "21",
            "categoria": "mouses2"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "custo",
              "displayName": "custo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "categoria",
              "displayName": "categoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        256,
        400
      ],
      "id": "87cb82f0-f7a3-41fd-948b-e7ac71955ed7",
      "name": "Google Sheets (Update)",
      "credentials": {
        "googleApi": {
          "id": "DkVwcgIDcM5y6GuW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1l8eeaZV1ijBqjSCv_k2ZTQRDkFBBJG1AnTY6LMS0l_c",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1721701451,
          "mode": "list",
          "cachedResultName": "produtos_exemplo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l8eeaZV1ijBqjSCv_k2ZTQRDkFBBJG1AnTY6LMS0l_c/edit#gid=1721701451"
        },
        "startIndex": 7
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        256,
        608
      ],
      "id": "fe83422f-ac26-4654-bfe5-eace55a393b5",
      "name": "Google Sheets (Delete)",
      "credentials": {
        "googleApi": {
          "id": "DkVwcgIDcM5y6GuW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        512,
        0
      ],
      "id": "a22eab2a-2505-480a-87a0-f5117e7e0cc9",
      "name": "Response (Read All)"
    },
    {
      "parameters": {
        "respondWith": "json",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        512,
        208
      ],
      "id": "f06c0b47-b86f-45b6-90d1-0a4916d509c6",
      "name": "Response (Create)"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        512,
        400
      ],
      "id": "1608d3b0-4fc4-43df-be74-c03d7d15e191",
      "name": "Response (Update)"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        512,
        608
      ],
      "id": "2dd5d4b1-3e98-4d07-882f-7f1ff87202c6",
      "name": "Response (Delete)"
    }
  ],
  "pinData": {},
  "connections": {
    "GET /products (Read All)": {
      "main": [
        [
          {
            "node": "Google Sheets (Read All)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /products (Create)": {
      "main": [
        [
          {
            "node": "Google Sheets (Create)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PUT /products/{id} (Update)": {
      "main": [
        [
          {
            "node": "Google Sheets (Update)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DELETE /products/{id} (Delete)": {
      "main": [
        [
          {
            "node": "Google Sheets (Delete)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets (Read All)": {
      "main": [
        [
          {
            "node": "Response (Read All)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets (Create)": {
      "main": [
        [
          {
            "node": "Response (Create)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets (Update)": {
      "main": [
        [
          {
            "node": "Response (Update)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets (Delete)": {
      "main": [
        [
          {
            "node": "Response (Delete)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "023f76ff-1018-40ac-ba41-5d4ff54dad62",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "17576d04a48f54985c12ebc1d2b2cfafcb6d27445b37136e1fd9c012527b9a9e"
  },
  "id": "gYRqUKft41VmDekE",
  "tags": []
}